<div class="section">
  <div class="well">
    <div class="row">
    <div class="col-md-4">
      <form #submitForm="ngForm" (ngSubmit)="saveForm(submitForm.value)" novalidate>
        <div class="form-group">
          <label for="userName"> Name:</label>
           <em *ngIf="submitForm.controls.userName?.invalid && (submitForm.controls.userName?.touched)">Required</em>
          <input  (ngModel)="userName"   name="userName" id="userName" class="form-control" placeholder="User Name" required />
        </div>

        <div class="form-group">
          <label for="userAddress"> Address:</label>
           <em *ngIf="submitForm.controls.userAddress?.invalid && (submitForm.controls.userAddress?.touched)">Required</em>
          <input (ngModel)="userAddress" required name="userAddress" id="userAddress" class="form-control" placeholder="Address" />
        </div>
  <div ngModelGroup="location">
        <div class="form-group">
          <label for="userLocation"> Location:</label>
           <em *ngIf="submitForm.controls.userLocation?.invalid && (submitForm.controls.userLocation?.touched)">Required</em>
          <input (ngModel)="userLocation"  name="userLocation" id="userLocation"class="form-control" required  placeholder="Location" />
        </div>
         <div class="form-group">
          <label for="userState"> State:</label>
          <input (ngModel)="userState" required  name="userState" id="userState" class="form-control" placeholder="State" />
        </div>
        <div class="form-group">
          <label for="city"> City:</label>
          <input (ngModel)="city" name="city" required  id="city" class="form-control" placeholder="city" />
        </div>
        <div class="form-group">
          <label for="zipCode"> Zip:</label>
          <input (ngModel)="zipCode" name="zipCode" required id="zipCode" class="form-control" placeholder="Zip Code" />
        </div>
</div>
        <div class="form-group">
          <label for="userComments"> Comments:</label>
          <input (ngModel)="userComments" required name="userComments" id="userComments" class="form-control" placeholder="Comments" />
        </div>
<div class="btn-group">
  <button [disabled]="submitForm.invalid"class="btn-primary">Save</button>
<button class="btn-primary" (click)="cancelOut()">Cancel</button>
</div>
      </form>
    </div>
    </div>
  </div>
</div>