<div class="container-fluid">
  <div class="row">
    <div>
    <div class="col-md-12">
       <img class="img-circle" width="60px"  height="100px" src="{{userData?.avatar_url}}"  />
    </div>
    
  </div>
  <div>
    <div class="col-md-4">
    <label for="name"> Name:</label>
    <label width="40px" height="70px"> {{userData?.name}}</label>
    </div>
  
  <div class="col-md-4">
       <label for="location"> Location:</label>
   <label width="40px" height="70px"> {{userData?.location}}</label>
    </div>
  <div class="col-md-4">
      <label for="blog"> Blog:</label>
   <label width="40px" height="70px"> {{userData?.blog}}</label>
    </div>
  </div>
  <div>
    <div class="col-md-6">
       <label for="company"> Company:</label>
      <label width="40px" height="70px"> {{userData?.company}}</label>
  </div>
  </div>
  </div>
  </div>